<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbtimer.dbupdatespring.dao.DmMerchantStoreDao">

    <resultMap id="BaseResultMap" type="com.dbtimer.dbupdatespring.entity.DMmerchantStoreEntity">
            <id property="id" column="id"/>
            <result property="userId" column="user_id"/>
            <result property="regionId" column="region_id"/>
            <result property="regionName" column="region_name"/>
            <result property="parentId" column="parent_id"/>
            <result property="type" column="type"/>
            <result property="businessType" column="business_type"/>
            <result property="code" column="code"/>
            <result property="name" column="name"/>
            <result property="signage" column="signage"/>
            <result property="contact" column="contact"/>
            <result property="storeLV" column="store_lv"/>
            <result property="isChild" column="is_child"/>
            <result property="childNum" column="child_num"/>
            <result property="longitude" column="longitude"/>
            <result property="latitude" column="latitude"/>
            <result property="address" column="address"/>
            <result property="isStop" column="is_stop"/>
            <result property="isActive" column="is_active"/>
            <result property="userPosition" column="user_position"/>
            <result property="demandResource" column="demand_resource"/>
            <result property="mainBusiness" column="main_business"/>
            <result property="description" column="description"/>
            <result property="sortOrder" column="sort_order"/>
            <result property="isLock" column="is_lock"/>
            <result property="isDelete" column="is_delete"/>
            <result property="isShow" column="is_show"/>
            <result property="createTime" column="create_time"/>
            <result property="createId" column="create_id"/>
            <result property="updateTime" column="update_time"/>
            <result property="updateId" column="update_id"/>
            <result property="activeTime" column="active_time"/>
    </resultMap>

</mapper>
