<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbtimer.dbupdatespring.dao.MysqlLedgerStoreSupplierDao">

    <resultMap id="BaseResultMap" type="com.dbtimer.dbupdatespring.entity.ledgerStoreSupplierEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="signage" column="signage"/>
        <result property="leader" column="leader"/>
        <result property="contact" column="contact"/>
        <result property="address" column="address"/>
        <result property="referStoreId" column="refer_store_id"/>
        <result property="referIsStore" column="refer_is_store"/>
        <result property="description" column="description"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="isLock" column="is_lock"/>
        <result property="isDelete" column="is_delete"/>
        <result property="isShow" column="is_show"/>
        <result property="createTime" column="create_time"/>
        <result property="createId" column="create_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateId" column="update_id"/>
    </resultMap>


</mapper>
