<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbtimer.dbupdatespring.dao.MysqlMerchantStoreLicenseDao">

    <resultMap id="BaseResultMap" type="com.dbtimer.dbupdatespring.entity.merchantStoreLicenseEntity">
            <id property="id" column="id"/>
            <result property="storeId" column="store_id"/>
            <result property="commerceCode" column="commerce_code"/>
            <result property="commerceName" column="commerce_name"/>
            <result property="commerceExpirationTime" column="commerce_expiration_time"/>
            <result property="commerceIsUnlimited" column="commerce_is_unlimited"/>
            <result property="foodBusinessCode" column="food_business_code"/>
            <result property="foodBusinessExpirationTime" column="food_business_expiration_time"/>
            <result property="foodBusinessIsUnlimited" column="food_business_is_unlimited"/>
            <result property="description" column="description"/>
            <result property="sortOrder" column="sort_order"/>
            <result property="createTime" column="create_time"/>
            <result property="createId" column="create_id"/>
            <result property="updateTime" column="update_time"/>
            <result property="updateId" column="update_id"/>
    </resultMap>


</mapper>
